<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>mohamedRidha</h2>
      <h4>ridha.zemzem@outlook.com</h4>
    </div>
    <div class="header"></div>
    <img src="https://avatars.dicebear.com/api/initials/mohamed%20ridha.png?r=50&scale=101&b=%23379ad7"
      alt="profile picture">
  </div>

  <mat-divider id='profile-mat-divider'> </mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <mat-divider> </mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
    <mat-icon>group</mat-icon>
    Users
  </a>
  <mat-divider> </mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/documents">
    <mat-icon>article</mat-icon>
    Documents
  </a>

  <mat-divider> </mat-divider>




</mat-nav-list>
