<div style="position: fixed; top:20%; width:100%;">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 style="color:green; margin-left:26%" *ngIf="isToken">Un e-mail a été envoyé à {{email.substring(0, 3) + '...' + email.substring(email.indexOf('@'), email.length)}}</h2>
      <div class="card my-5">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="card-body cardbody-color p-lg-5">
          <div *ngIf="isEmail" class="form-group">
            <input name="email"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
              ngModel required #email="ngModel" type="Email" class="form-control" id="email" placeholder="email">
            <span *ngIf="isEmailError" style="color: red">Email inexistant</span>
          </div>
          <div *ngIf="isToken" class="form-group">
            <label>token</label>
            <input name="token" ngModel required #token="ngModel" autocomplete=false aria-autocomplete=false type="text"
              class="form-control" id="token" placeholder="Code">
            <span *ngIf="isTokenError" style="color: red">Code invalid</span>
          </div>
          <div *ngIf="isToken" class="form-group">
            <label>Nouveau mot de passe</label>
            <input name="password" pattern=".{8,}" ngModel required #password="ngModel" type="password"
              class="form-control" id="password" placeholder="Password">
          </div>
          <div *ngIf="isToken" class="form-group">
            <label>Confirmer mot de passe</label>
            <input name="confirmpas" pattern=".{8,}" ngModel required #confirmpas="ngModel" type="password"
              class="form-control" id="confirmpas" placeholder="Confirm password">
            <span *ngIf="isPasswordError" style="color: red">les deux mots de passe doit être conformes</span>
          </div>
          <div class="text-center">
            <button type="submit" *ngIf="isEmail" [disabled]="f.invalid" class="btn btn-color px-5 mb-5 w-100">Confirmer</button>
            <button type="submit" *ngIf="isToken" [disabled]="f.invalid" class="btn btn-color px-5 mb-5 w-100">Réinitialiser</button>
          </div>
        </form>
      </div>
      <a routerLinkActive="Active" [routerLink]="['/login']"> <span> login </span></a>
    </div>
  </div>
</div>
