<h3> Add Document</h3>
<div class="">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto bg-light">
      <div class="card-body bg-light">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="contact-form" role="form">
          <div class="controls">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="form_titleFr">Title Fr</label>
                  <input id="titleFr" required (change)='checkDocument(f)' autocomplete='off' ngModel #titleFr="ngModel"
                    type="text" name="titleFr" class="form-control" placeholder="Enter title Fr">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"> <label for="form_titleAr">Title Ar</label>
                  <input id="titleAr" required (change)='checkDocument(f)' autocomplete='off' ngModel #titleAr="ngModel"
                    type="text" name="titleAr" class="form-control" placeholder="Enter title Ar">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"> <label for="moduleNum">Module</label>
                  <select required="required" ngModel #moduleNum="ngModel" (change)="getCategories(moduleNum.value)"
                    id="moduleNum" name="moduleNum" class="form-control" required="required">
                    <option value="" selected disabled>--Select Module--</option>
                    <option value="1">Fiscal</option>
                    <option value="2">Social</option>
                    <option value="3">Investissement</option>
                    <option value="4">Banque-Finances-Assurances</option>
                    <option value="5">BIBUS</option>
                    <option value="6">Collectivites locales</option>
                    <option value="7">Veille Juridique</option>
                  </select>
                </div>
              </div>
              <div *ngIf="!isHidden" class="col-md-6">
                <div class="form-group">
                  <label for="categoryName">Categories ou ajouter 
                  </label>
                  <a (click)='switchCat()'>
                    <mat-icon>add</mat-icon>
                  </a>
                  <select [disabled]="isCatDisabled" ngModel #categoryName="ngModel" id="categoryName"
                    name="categoryName" class="form-control" [required]='!isHidden'>
                    <option value="" selected disabled>--Select Categorie--</option>
                    <option *ngFor="let item of categories" value="{{item.name}}">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div *ngIf='isHidden' class="col-md-6">
                <div class="form-group">
                  <label for="categoryName">Ajouter une Categorie
                  </label>
                  <a (click)='switchCat()'>
                    <mat-icon>cancel</mat-icon>
                  </a>
                  <input id="categoryName" autocomplete='off' ngModel #categoryName="ngModel" type="text"
                    name="categoryName" class="form-control" placeholder="Enter categorie" [required]='isHidden'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateP">Date publie</label>
                  <input id="dateP" required ngModel #dateP="ngModel" type="date" name="dateP" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ref">Ref</label>
                  <input id="ref" ngModel #ref="ngModel" autocomplete='off' type="text" name="ref" class="form-control"
                    placeholder="Enter ref" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="bodyFr">Body Fr</label>
                  <textarea ngModel required (change)='checkDocument(f)' #bodyFr='ngModel' id="bodyFr" name="bodyFr"
                    class="form-control" rows="4">
                  </textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="bodyAr">Body Ar</label>
                  <textarea ngModel required (change)='checkDocument(f)' #bodyAr='ngModel' id="bodyAr" name="bodyAr"
                    class="form-control" rows="4">
                  </textarea>
                </div>
              </div>
              <div class="col-md-12"> 
                <input *ngIf="!waiting" type="submit" [disabled]="f.invalid || !valid"
                  class="btn btn-success btn-send pt-2 btn-block" value="submit document">
              </div>
              <div class="col-md-12">
                <div *ngIf="waiting" style="width:100%"class="disabled btn btn-success btn-send pt-2 btn-block">
                  <div style="margin-left:48%" class='loader'></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div> <!-- /.8 -->
  </div> <!-- /.row-->
</div>
