<div id="top" class="">
  <div class="">
    <article>
      <div class="">
        <div class=""></div>
        <div class="">
          <section>
            <div>
              <div class="switchButtonContainer float-container">
                <button (click)="lang = true" class="switchlangButtons float-child"> Fr</button>
                <div style="width: 15px"></div>
                <button (click)="lang = false" class="switchlangButtons float-child"> Ar</button>
              </div>
              <hr style="width: 80%">
              <div>
                <div class="float-container">
                  <div class="title float-child">
                    <h1>{{lang?doc.titleFr:doc.titleAr}}</h1>
                  </div>
                  <div style="width: 15%">
                    <div class="float-child modifyButton col-sm-7">
                      <a href="#" routerLinkActive="Active" [routerLink]='["/documents/modify", doc._id]'
                        class="btn btn-secondary">
                        <div class="float-container">
                          <div class="float-child">
                            <i class="material-icons">&#xE3C9;</i>
                          </div>
                          <div class="float-child text">
                            <span>Modify</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="float-child modifyButton col-sm-7">
                      <a (click)="deleteDocumentFromup(doc._id)" class="red btn btn-secondary">
                        <div class="float-container">
                          <div class="float-child">
                            <i class="material-icons">&#xE872;</i>
                          </div>
                          <div class="float-child text">
                            <span>Delete</span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>
                <hr>
                <div class="float-container">
                  <div class="float-child big">
                    <p>{{lang?doc.bodyFr:doc.bodyAr}}
                    </p>
                  </div>
                  <div class="float-child small">
                    <h2>Details</h2>
                    <label>Module</label>
                    <p>{{getMod(doc.moduleId)}}</p>
                    <br>
                    <label>Categorie</label>
                    <p>{{getCat(doc.categoryId)}}</p>
                    <br>
                    <label>Ref</label>
                    <p>{{doc.ref}}</p>
                    <br>
                    <label>Date Added</label>
                    <p>{{dateAdded}}</p>
                    <br>
                    <label>Date Published</label>
                    <p>{{dateP}}</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </article>
  </div>
</div>
