.float-container {
  display: flex;
}
.switchButtonContainer {
  .float-child{
  max-width: 60px;
  }
.switchlangButtons { 
  font-size: 24px;
  height: 40px;
  border: none;
}
}
.modifyButton .text {
  font-size: 19px;
  margin-left: 12px;
}
.float-child {
  flex: 1;
}
.title{
  margin-top: 2%;
}
.red {
  color: white;
  background-color: darkred;
}
.small {
  max-width: 20%;
  padding-left: 2%;
  border-left: 1px solid;
  //background-color: grey;
}

.big {
  margin-right: 20px;
}
