<h2>Historique de Recherche</h2>
<div style="width: 25%; margin: 0 auto;">
  <app-search-chart></app-search-chart>
</div>
<div>
  <h2 *ngIf="searchH.length == 0">Aucun utilisateur n'affectue une recherche</h2>
  <table *ngIf="searchH.length > 0" class="table table-striped table-hover">
    <thead>
      <tr>
        <th style='width:35%'>Utilisateur</th>
        <th>mot cle</th>
        <th>exacte</th>
        <th style='width:15%'>Date</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let search of searchH">
        <td *ngIf="getUserId(search.email).length > 0"><a  [routerLinkActive]="'Active'" [routerLink]="['/users/show/',getUserId(search.email)]" >{{search.email}}</a></td>
        <td *ngIf="getUserId(search.email).length == 0">{{search.email}} (deleted)</td>
        <td>{{getSearchTerm(search.searchString)}}</td>
        <td>{{getExacte(search.searchString)}}</td>
        <td>{{getDate(search.dateSearch)}}</td>
        <td>{{getAboutie(search.foundResult)}}</td>
      </tr>
    </tbody>
  </table>
</div>
