<h3 class='notfound' *ngIf="getStaticUsers().length == 0">Aucun utilisateur trouve</h3>
<table *ngIf="getStaticUsers().length > 0" class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width: 15%">Name</th>
      <th style="width: 35%">email</th>
      <th>Structure</th>
      <th>phone number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of getStaticUsers()">
      <td> {{ user.name}} {{user.surname}} </td>
      <td> {{ user.email }} </td>
      <td> {{ user.nomStructure }} </td>
      <td> {{ user.phoneNumber }} </td>
      <td>
        <a mat-list-item routerLinkActive="Active" [routerLink]="['/users/show/',user._id]" >
          <mat-icon>person</mat-icon>
        </a>
        <a mat-list-item >
          <mat-icon style="color: red" (click)="delete(user._id)" >delete</mat-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
