<h3 class='notfound' *ngIf="users.length == 0">no users found</h3>
<table *ngIf="users.length > 0" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>Structure</th>
      <th>phone number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- <a *ngFor="let user of users" [routerLink]="['/users', user._id]" routerLinkActive="is-active"> -->
    <tr *ngFor="let user of users">
      <td> {{user.name}} {{user.surname}} </td>
      <td> {{ user.email }} </td>
      <td> {{ user.nomStructure }} </td>
      <td> {{ user.phoneNumber }} </td>
      <td>
        <!-- <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i -->
        <!--     class="material-icons">&#xE8B8;</i></a> -->
        <!-- <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i -->
        <!--     class="material-icons">&#xE5C9;</i></a> -->
        <a mat-list-item>
          <mat-icon>person</mat-icon>
        </a>
        <a mat-list-item (click)="printUser(user._id)">
          <mat-icon style="color: red">delete</mat-icon>
        </a>
      </td>
    </tr>
    <!-- </a> -->
  </tbody>
</table>
