<h3 class="notfound" *ngIf="documents.length == 0">no documents found</h3>
<table *ngIf="documents.length > 0" class="table table-striped table-hover">
  <thead>
    <tr>
      <th style='width:35%'>title</th>
      <th>module</th>
      <th>category</th>
      <th style='width:15%'>Date added</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- <a *ngFor="let document of documents" [routerLink]="['/documents', document._id]" routerLinkActive="is-active"> -->
    <tr *ngFor="let document of documents">
      <td *ngIf="document.titleFr !== 'not available'"> {{document.titleFr}}</td>
      <td *ngIf="document.titleFr === 'not available'"> {{document.titleAr}}</td>
      <td> {{ getMod(document.moduleId) }} </td>
      <td> {{ getCat(document.categoryId) }} </td>
      <td> {{ document.dateAdded }} </td>
      <td>
        <!-- <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i -->
        <!--     class="material-icons">&#xE8B8;</i></a> -->
        <!-- <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i -->
        <!--     class="material-icons">&#xE5C9;</i></a> -->
        <a mat-list-item>
          <mat-icon>person</mat-icon>
        </a>
        <a mat-list-item (click)="printdocument(document._id)">
          <mat-icon style="color: red">delete</mat-icon>
        </a>
      </td>
    </tr>
    <!-- </a> -->
  </tbody>
</table>
